*{
  box-sizing: 0;
}
.navbar-container{
  display: flex;
  align-items: center;
}
.logo{
  margin-left:15px;
  width:180px;
}
.menu{
  margin-left: auto;
  margin-right: 15px;
}
.home{
  font-family: 'Century Gothic';
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sell-heading{
  text-align: center;
margin:50px;
font-weight: 700;
font-size: 96px;
color: #0B8793;
}
.move-to-icon{
  width: 150px;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
  transition: 300ms;
  margin:0;
  cursor: pointer;
}
.move-to-icon:hover{
  filter:drop-shadow(0px 0px 16px rgba(11,135,147,0.50));

}
.cheesy-text{
  animation: fadeIn 2s; 
  transform: 300ms;
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #0B8793;
}
.cut{
  text-decoration-line: line-through;
}
.ocean {
  height: 30px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
}
